<div class="page-content">
	<div class="contact-header">
		<div class="item-photo">
			<img src="img/1.gif">
		</div>
		<div class="header-text">
			{{#if model.isFavorite}}<i class="icon icon-favorite ion-ios7-star"></i>{{/if}}
			<h3>{{model.firstName}}  </h3>
 
		</div>
	</div>
	<div class="list-block">
		<div class="list-group">
		 
		</div>
	</div>
</div>



